.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.nav-bar{
  display: flex;
  margin: 15px 50px;
  font-size: 20px;
}

.left{
  color: #5F22E1;
  font-weight: bold;
  flex-grow: 1;

}

.right{
  align-content: right;
  display: flex;
}

.nav-element{
  margin-right: 35px;
  text-decoration-line: none;
  color: black;
}

.active{
  color: #5F22E1;
  font-weight: bold;
}