
.container{
    padding: 20px;
    background-color: #5F22E1;
    width: fit-content;
    height: fit-content;
}

.image{
    width: 393px;
    height: 263px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.pie{
    background-image: url("/src/images/2x2_1.jpg");
}


.pie2{
    background-image: url("/src/images/venn_diagram-1.jpg");
}

.pie3{
    background-image: url("/src/images/2x2_2.jpg");
}