.insight-hed{
    font-size: 24px;
    font-family: 'Sofia Sans', sans-serif;
    padding: 15px 0;
    text-align: left;
}

.insight-text{
    font-size:16px;
    text-align: left;
}

.insight{
    margin: 30px 0;
    width: 70%;
}