.right-div{
    width: 60%;
}

.page-title2{
    font-size: 40px;
    font-family: "Sofia Sans";
    text-align: left;
}

.sub-title2{
    font-size: 18px;
    margin-top: 40px;
}

.hero2{
    display: flex;
    text-align: left;
    padding: 50px 100px;
    border-bottom: 5px solid #5F22E1;
    justify-content: space-between;
}

.persona-img{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.hero-img{
    width: 300px;
    height: auto;
    
}